.task-editor-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-editor-container form {
    margin-bottom: 20px;
  }
  
  .task-editor-container input[type="text"],
  .task-editor-container textarea,
  .task-editor-container select,
  .task-editor-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-editor-container select {
    appearance: none;
  }
  
  .task-editor-container button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-editor-container button:hover {
    background-color: hwb(180 0% 0%);
  }
  
  .task-info {
    margin-top: 20px;
  }
  
  .task-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .task-info p {
    margin-bottom: 5px;
  }
  
  .task-info p:last-child {
    margin-bottom: 0;
  }
  
  